<div>
  <div class="file-choosers">
    <div class="file-chooser-section">
      <h4>Select manifest file</h4>
      <div class="fileUpload btn btn-info"  >
        <span>Upload</span>
        <input type="file" (change)="manifestFileSelected($event)" class="upload">
      </div>
    </div>
    <div class="file-chooser-section">
      <h4>Select layout file</h4>
      <div class="fileUpload btn btn-info"  >
        <span>Upload</span>
        <input type="file" (change)="layoutFileSelected($event)" class="upload" multiple >
      </div>
    </div>
    <div class="btn btn-info" (click)="generateForm()">Generate</div>
    <h3>{{error}}</h3>
  </div>
  <div>
      <sf-form *ngIf="schema" [schema]="schema" [model]="model"></sf-form>
  </div>

</div>
