.main-header {
  height: 80px;
  background-color: lightseagreen;
  padding: 0 10px;
  display: table;
  width: 100%;

  h1 {
    margin: 0px;
    color: white;
    vertical-align: middle;
    display: table-cell;
  }
}

.main-content {
  margin: 0 10px;
}
