@import '../../styles';

.main{
    background: #e9e9e9;
    height:100%;
}
.header{
    padding: 0 10px;
    display: table;
    width: 100%;
}

.main-header{
    height: 50px;
    background: @main-color;
    .header;
    h2{
        color: white;
        margin: 0px;
        vertical-align: middle;
        display: table-cell;
    }
}

.main-content{
    height: ~"calc(100% - 51px)";

    .servers{
        border-right: 1px solid @border-color;
        height: 100%;
        float: left;
        background: @main-color;
        width: 300px;
        margin-top: 1px;
        overflow: auto;
        .server-item{
            padding: 10px;
            height: 100px;
            overflow: hidden;
            border-bottom: 1px solid white;

            .de-header{
                .header;
                height: 30px;
                h3{
                    display:table-cell;
                    margin:0px;
                    color: white;
                    width: 100%;
                    height: 100%;
                    vertical-align:middle;
                }
            }
            .item-content{
                h5{
                    margin-left:10px;
                    color:white;
                }
            }

            &:hover{
                .selected-item;
            }

        }
        .selected-item{

            background: #e9e9e9;
            .de-header {
                h3 {
                    color: black;
                }
            }
            .item-content{
                h5{
                    color:black;
                }
            }
        }
    }

    .projects{
        height: 100%;
        overflow: auto;
        .project-item{
            cursor:pointer;
            overflow: hidden;
            max-height: 50px;
            border-bottom: 1px solid @border-color;

            &:hover{
                background: #f5f5f5;
            }
            .project-header{
                height: 50px;
                background: #e9e9e9;
                border-bottom: 1px solid @border-color;
                h3{
                    display: inline-block;
                    margin: 10px;
                }
            }




            .project-details{
                margin-left: 10px;
                max-height: 600px;
                margin-top: 20px;
                overflow: auto;
                h4{
                    margin: 0px;
                }
            }

            .tag-item{

                margin-top:10px;
            }

            .tag-details{
                overflow: hidden;
                height:0px;
                margin-top:10px;
                margin-left: 20px;
            }

            .selected-tag{
                height: auto;
                margin-bottom: 20px;
            }


        }

        .tag-header{
            &:hover{
                color: @main-color;
            }
            .expander-btn{

                float:left;
                margin-right: 10px;
                cursor:pointer;
            }
        }



        .selected-project{
            background: #f5f5f5;
            max-height: 400px;

        }
        .item-marker{

        }

        .flow-item{
            margin-top: 5px;
            >div{
                display: inline-block;
                margin-right: 5px;
            }
            .flow-name-header{
                &:hover{
                    color: @main-color;
                }
                display: inline-block;

                span:first-child{
                    margin-right: 10px;
                }

            }
        }
    }
}


div{
    transition: 0.5s all;
}
