<div class="main">
    <div class="main-header">
        <div>
            <img src="icons/logo.png">
            <h2>DE Management Console</h2>
        </div>
    </div>
    <div class="main-content">
        <div class="servers" *ngIf="!isLocal">
            <div *ngFor="let de of deServers" class="server-item" (click)="DEClicked(de)"
                 [ngClass]="{'selected-item':de.selected}">
                <div class="de-header">
                    <h3>{{de.name}}</h3>
                </div>
                <div class="item-content">
                    <h5>{{de.aliveStatus}}</h5>
                    <h5>{{de.hostName}}</h5>

                </div>
            </div>
        </div>
        <div class="projects">
            <div *ngIf="loading" class="busy">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
            <div *ngFor="let project of projects" class="project-item" (click)="projectSelected(project)"
                 [ngClass]="{'selected-project':project.selected}">
                <div class="project-header">
                    <h3>{{project.name}}</h3>
                </div>
                <div class="project-details" (click)="projectDetailsClicked($event)">
                    <div *ngFor="let tag of project.tags" class="tag-item">
                        <div (click)="expandTag(tag)" class="tag-header">
                            <div class="expander-btn">+</div>
                            <h4>{{tag.name}}</h4>
                        </div>
                        <div class="tag-details" [ngClass]="{'selected-tag':tag.selected}">
                            <div *ngFor="let flow of tag.flows" class="flow-item" (click)="flowClicked(flow)">
                                <h4 class="flow-name-header"></h4>
                                <div>
                                    <span>{{flow.originalName}}</span>
                                    <span>-V{{flow.version}}</span>
                                </div>
                                <div class="effective-dates-btn-container">
                                    <div *ngIf="flow.effectiveDateRanges"
                                         (click)="toggleShowingEffectiveDates(flow,$event)">
                                            <span class="effective-dates-btn">Effective Dates
                                            </span>
                                        <div class="glyphicon"
                                             [ngClass]="{'glyphicon-menu-down' : !flow.showEffectiveDates ,'glyphicon-menu-up' : flow.showEffectiveDates }"></div>
                                    </div>

                                    <div *ngIf="flow.showEffectiveDates">
                                        <div>
                                            <table class="effective-dates">
                                                <tr>
                                                    <th>Effective date</th>
                                                    <th>Expiration date</th>
                                                </tr>
                                                <tr *ngFor="let range of flow.effectiveDateRanges">
                                                    <td>{{range.effectiveDate}}</td>
                                                    <td>{{range.expirationDate}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
