<div class="main">
    <div class="main-header">
        <h2>DE Management Console</h2>
    </div>
    <div class="main-content">
        <div class="servers" *ngIf="!isLocal">
            <div *ngFor="let de of deServers" class="server-item" (click)="DEClicked(de)"
                 [ngClass]="{'selected-item':de.selected}">
                <div class="de-header">
                    <h3>{{de.name}}</h3>
                </div>
                <div class="item-content">
                    <h4>{{de.aliveStatus}}</h4>
                </div>
            </div>
        </div>
        <div class="projects">
            <div *ngFor="let project of projects" class="project-item" (click)="projectSelected(project)"
                 [ngClass]="{'selected-project':project.selected}">
                <div class="project-header">
                    <h3>{{project.name}}</h3>
                </div>
                <div class="project-details">
                    <div *ngFor="let tag of project.tags" class="tag-item">
                        <div (click)="expandTag(tag)" class="tag-header">
                            <div class="expander-btn">+</div>
                            <h4>{{tag.name}}</h4>
                        </div>
                        <div class="tag-details" [ngClass]="{'selected-tag':tag.selected}">
                            <div *ngFor="let flow of tag.flows" class="flow-item" (click)="flowClicked(flow)">
                                <div>-</div>
                                <h4 class="flow-name-header">
                                    <span>{{flow.name}}</span>
                                    <span>-V{{flow.version}}</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
